<div class="flex">
    <div>
      <.live_component module={PhoenixBankingAppWeb.CustomComponents.SidebarLive} id={:header}
      />
    </div>
    <div>
      <h1>Trasnaction History</h1>
    </div>
  </div>
  