<main class="flex h-screen w-full font-inter">
  <.live_component module={PhoenixBankingAppWeb.Layouts.Sidebar} id={:header} />

  <div class="max-w-2xl">
    <.flash_group flash={@flash} /> <%= @inner_content %>
  </div>
</main>
