<div class="flex">
  <div>
    <.live_component module={PhoenixBankingAppWeb.CustomComponents.SidebarLive}
    id={:header} current_url={@current_url} />
  </div>
  <div>
 
    <.live_component
    module={PhoenixBankingAppWeb.PaymentTransferLive.PaymentForm} 
    id={:payment_form} accounts_data={@accounts_data}  />
 
  </div>
</div>
